<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I’m a graduate of Bachelor of Science in Computer Science at the 
      <a class="underline-link" href="https://uplb.edu.ph/" target="_blank">University of the Philippines Los Baños</a>, 
       where I’ve specialized in management, software engineering, digital image processing, and compiler design.
    </p>

    <p>
      I’ve always been curious about how we can <strong>push beyond</strong>  what computers already do. 
      It’s not just about using tech, it’s about finding new ways to make it smarter, more helpful, and more human-centered. 
      That drive to explore and improve is what keeps me going.    </p>

    <p>
      <strong>Outside of academics</strong>, 
      I actively participate in student organizations and volunteer activities. 
      I enjoy engaging with the community, organizing events, and working with others to create positive experiences. 
      I also have a passion for dance, which allows me to express creativity while connecting with others in fun and dynamic ways.
    </p>

    {% include employment-status.html %}
  </div>
</section>
