<section class="section experience">
  <div class="section__title">Work Experience</div>
  <div class="section__content">
    <div class="jobs">
      {% for job in site.data.experience %}
      <div class="job">
        <div class="time-place">
          <div class="job__company-position">
            <span class="job__company">
              <a href="{{job.url}}" class="underline-link" target="_blank">{{job.company}}</a>
            </span>
            <span class="job__position"> | {{job.position}}</span>
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <div class="job__activities">
          <ul>
            {% for activity in job.activities %}
            <li>• {{activity}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
    <span> View my </span>
    <a href="{{site.resume}}" target="_blank" class="underline-link">Resume</a>
    <span> and </span>
    <a href="{{site.cv}}" target="_blank" class="underline-link">CV</a>
  </div>
</section>
