<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <img src="{{site.baseurl}}/img/featured/laytex.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"> 
          LayTeX
        </div>
        <p>
          LayTeX is a web-based learning tool that provides a simple and interactive interface for users to learn LaTeX syntax and commands, making it easier for beginners to create professional-looking documents.
        </p>
      </figcaption>
    </div>
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://picsel-e4l.vercel.app/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/picsel.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"> 
          <a href="https://picsel-e4l.vercel.app/" target="_blank" class="underline-link">PICSEL</a> 
        </div>
        <p>
          PICSEL is a platform designed to simplify the process of managing event schedules and space reservations within the institute.
        </p>
      </figcaption>
    </div>
    <div class="project blistabloc">
      <figure class="project__pic">
          <img src="{{site.baseurl}}/img/featured/segmentation.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"><a href="https://github.com/aanovelo/kmeans-image-processing" class="underline-link">Color-Based Image Segmentation</a>  </div>
        <p>
          This takes an image and groups its colors into K main color clusters. 
          It figures out which colors are most common, assigns each pixel to the closest one, and then shows the results with some simple visualizations for each group.        
        </p>
      </figcaption>
    </div>
  </div>
</section>
