<section class="section experience">
  <div class="section__title">Organizational Experience</div>
  <div class="section__content">
    <div class="jobs">
      {% for job in site.data.organizations %}
      <div class="job">
        <div class="time-place">
          <div class="job__company-position">
            <span class="job__company">
              <a href="{{job.url}}" class="underline-link" target="_blank">{{job.company}}</a>
            </span>
            <span class="job__position"> | {{job.position}}</span>
          </div>
          <div class="job__time">{{job.time}}</div>
        </div>
        <div class="job__activities">
          <ul>
            {% for activity in job.activities %}
            <li><span style="font-weight: 500;">{{activity.title}}</span>, <i>{{activity.event}}</i></li>
            <ul>
              {% for contribution in activity.contributions %}
              <li>• {{contribution}}</li>
              {% endfor %}
            </ul>
            <br>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
